.projects [data-projects-list] {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.project-meta {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
    margin-top: -0.4rem;
    margin-bottom: 0.4rem;
}

.project-subtitle {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
}
